@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #F5F5F7;
  --foreground: #1D1D1F;
  --primary: oklch(64.5% 0.246 16.439);
  --primary-light: oklch(58.6% 0.253 17.585);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar: #1D1D1F;
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #F5F5F7;
    
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


